--findlinks ppa:mc3man/trusty-media
--findlinks ppa:fkrull/deadsnake
libssl-dev
libffi-dev
git
ffmpeg
libopus-dev
unzip
gitdb==2.0.8
GitPython==2.0.8
git+https://github.com/Rapptz/discord.py@master#egg=discord.py[voice]
google-api-python-client==1.5.1
PyNaCl==1.0.1